.grad-text {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #66ffe6 -160.13deg,
    #8093ff 42.37deg,
    #66ffe6 199.87deg,
    #8093ff 402.37deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
