@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500;600&display=swap");
*, html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ginora Sans";
}

html {
  font-size: 25px;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #1d1d1d;
}

.container {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid;
}

h2, h3, h4, label {
  color: #F4F4F4;
  text-transform: capitalize;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2em;
  width: 35%;
  margin: -27px 0;
}

h6 {
  color: rgba(184, 184, 184, 0.7);
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.hr-small {
  width: 100%;
  height: 2px;
  border: 0;
  background: url(../images/down-line.png);
}

.hr-medium {
  width: 1160px;
  height: 2px;
  border: 0;
  background: url(../images/line-medium.png);
}

.hr-long {
  width: 100%;
  height: 1px;
  border: 0;
  background: url(../images/line-long.png);
}

p {
  color: #919191;
  font-size: 0.6rem;
  text-transform: capitalize;
  font-family: "Gilroy-Regular" !important;
  margin: 5% 0;
  line-height: 1.6;
}

a, button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover, button:hover {
  color: #5a93b3;
}

a, button, li, .view-link {
  cursor: pointer;
}

.Primary-color {
  color: #7a86c6;
}

.Secondary-color {
  color: #5CE4CF;
}

.view-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-link a {
  font-size: 0.6rem;
  margin-right: 10px;
}

.view-link .arrow-right {
  width: 25px;
  height: 11px;
}

/* Primary Font Family */
@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Ginora Sans"), url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Regular.woff") format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Ginora Sans"), url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Semi Bold.woff") format("woff");
}

@font-face {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Ginora Sans"), url("https://fonts.cdnfonts.com/s/18654/Ginóra Sans Bold.woff") format("woff");
}

/* Secondary Font Family */
@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"), url("https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff") format("woff");
}

.grad-text {
  background: conic-gradient(from 180deg at 50% 50%, #66ffe6 -160.13deg, #8093ff 42.37deg, #66ffe6 199.87deg, #8093ff 402.37deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@-webkit-keyframes movedown {
  from {
    top: 68%;
  }
  to {
    top: 71%;
  }
}

@keyframes movedown {
  from {
    top: 68%;
  }
  to {
    top: 71%;
  }
}

@-webkit-keyframes moveright {
  from {
    right: 62%;
  }
  to {
    right: 63%;
  }
}

@keyframes moveright {
  from {
    right: 62%;
  }
  to {
    right: 63%;
  }
}

header nav {
  background-color: #232526;
}

header nav a {
  color: #b2b2b9;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
}

header nav .logo img {
  width: 90px;
}

header nav .nav-right {
  margin-right: -349px;
}

header nav .toggleMenu {
  padding-top: 3px;
}

.intro {
  background-image: url(../images/grad-background.svg);
  background-size: 43rem;
  background-repeat: no-repeat;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2rem;
  height: 25rem;
}

.intro .intro-items h1 {
  color: #F4F4F4;
  font-size: 2.3rem;
  text-transform: capitalize;
  margin: 0 0 1.67rem 0 !important;
}

.intro .intro-items h1 span {
  display: block;
  background: linear-gradient(45deg, #79b0f9, #7f95ff, #30dadd);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.intro .intro-items img {
  position: absolute;
  -webkit-animation: movedown 2s ease infinite;
          animation: movedown 2s ease infinite;
  width: 0.5rem;
}

.program {
  margin: 5% 0 8% 0;
  width: 100%;
}

.program .program-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .3fr .2fr .3fr 3fr .6fr .6fr;
      grid-template-columns: .3fr .2fr .3fr 3fr .6fr .6fr;
  -ms-grid-rows: .1fr .1fr .1fr .5fr .3fr .4fr;
      grid-template-rows: .1fr .1fr .1fr .5fr .3fr .4fr;
}

.program .program-items .program-img1 {
  z-index: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.program .program-items .program-img2 {
  z-index: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.program .program-items .text-items {
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 7;
  -ms-grid-row-span: -2;
  grid-row: 7 / 5;
}

.program .program-items .text-items h2 {
  font-size: 1.6rem;
}

.program .program-items .text-items p {
  margin: 55px 0;
}

.program .program-items .text-items .view-link a {
  font-size: 0.6rem;
}

.title-subtitle .title-subtitle-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.title-subtitle .title-subtitle-items h2 {
  width: 11em;
}

.title-subtitle .title-subtitle-items p {
  width: 31.2em;
}

.funding1 {
  height: 30rem;
  margin-bottom: 5%;
}

.funding1::before {
  left: 17.5%;
  background-image: url(../images/Rectangle-137.png);
  width: 100%;
  height: 200%;
}

.funding1::after {
  top: 8%;
  right: -35%;
  background-image: url(../images/Rectangle-136.png);
  width: 100%;
  height: 100%;
}

.funding1 .funding1-items {
  top: 11%;
  right: -22%;
}

.funding2 {
  height: 30rem;
  margin-bottom: 12%;
}

.funding2::before {
  left: 55%;
  background-image: url(../images/stefan-cosma-GVlcXhQejA8-unsplash1.png);
}

.funding2::after {
  top: 7%;
  right: -49%;
  background-image: url(../images/maximalfocus-naSAHDWRNbQ-unsplash1.png);
}

.funding2 .funding2-items {
  top: 11%;
  right: 17%;
}

.inve-portfolio {
  margin-bottom: 13%;
}

.inve-portfolio .inve-portfolio-items h2 {
  width: 50%;
}

.inve-portfolio .inve-portfolio-items ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 85px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 7%;
}

.inve-portfolio .inve-portfolio-items ul li {
  list-style-type: none;
  padding: 20px;
}

.inve-portfolio .inve-portfolio-items ul li img {
  width: 22px;
  margin-right: 3px;
}

.inve-portfolio .inve-portfolio-items ul li a {
  color: #B8B8B8;
  text-transform: uppercase;
  font-size: 27px;
  font-family: "Ginora Sans";
}

.inve-portfolio .inve-portfolio-items ul li a:hover {
  background: #99A9FF;
  background: -webkit-gradient(linear, left top, right top, from(#99A9FF), to(#5CE4CF));
  background: linear-gradient(to right, #99A9FF, #5CE4CF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.inve-portfolio .inve-portfolio-items ul li:hover {
  background-color: rgba(48, 54, 58, 0.2);
}

.team {
  position: relative;
  margin: 11% 0;
}

.team .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .items .team-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.team .items .team-profile .profile {
  text-align: center !important;
}

.team .items .team-profile .profile h5 {
  color: #B8B8B8;
  font-size: 23px;
  text-transform: capitalize;
  margin: 20px 0;
}

.team .items .team-profile .profile p {
  color: #7a7474;
  font-size: 11px;
  width: 100% !important;
}

.team .items hr {
  width: 1px;
  height: 62em;
  border: 0;
  margin: 0 5%;
  background: url(../images/sep-line.png);
}

.team .items .content {
  position: absolute;
  right: -23.5%;
  top: 30%;
}

.team .items .content a {
  font-size: 82%;
}

.team .items .content a .arrow-right {
  width: 2%;
}

.team .items .content h2 {
  width: 35%;
  margin: 20px 0;
}

.team .items .content p {
  width: 39%;
}

.jobs .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs .items .job-posts {
  width: 69%;
}

.jobs .items .job-posts .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jobs .items .job-posts .job .job-intro h3 {
  width: 100%;
  margin-bottom: 5%;
}

.jobs .items .job-posts .job .job-intro p {
  width: 100%;
}

.jobs .items .job-posts .job a {
  margin: 3% 13% 0 0;
}

.jobs .items .job-posts .job a .arrow-right {
  width: 100%;
}

.jobs .items .job-posts .view-link {
  font-size: 15px;
}

.jobs .items .job-posts .view-link .arrow-right {
  margin-top: 7%;
  width: 3%;
}

.jobs .items .job-category h4 {
  font-size: 20px;
}

.jobs .items .job-category ul li {
  margin-bottom: 7%;
  color: #B8B8B8;
  text-transform: capitalize;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs .items .job-category ul li .arrow-right {
  width: 61%;
  margin-left: 20px;
}

footer {
  margin-top: 10%;
}

footer .items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .items-top .title-subtitle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .items-top .title-subtitle h2 {
  width: 78%;
  margin-top: 0;
}

footer .items-top .title-subtitle p {
  width: 75%;
}

footer .items-top .form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

footer .items-top .form label {
  display: block;
  color: #B8B8B8;
  font-size: 18px;
  margin-left: 6%;
}

footer .items-top .form input, footer .items-top .form textarea, footer .items-top .form button {
  background: none;
  border: 0;
  outline: none;
}

footer .items-top .form input, footer .items-top .form textarea {
  border-bottom: 2px solid #565656;
  margin: 0 0 30px 0;
  width: 100%;
}

footer .items-top .form input::after, footer .items-top .form textarea::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#99A9FF), to(#5CE4CF));
  background: linear-gradient(90deg, #99A9FF 0%, #5CE4CF 100%);
}

footer .items-top .form textarea {
  height: 20px;
  resize: none;
}

footer .items-top .form button .arrow-right {
  width: 17%;
}

footer .social-pplinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7% 0;
}

footer .social-pplinks a {
  color: #B8B8B8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: uppercase;
          transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

footer .social-pplinks a:hover {
  color: #99A9FF;
}

footer .social-pplinks .social-links a {
  margin-right: 25px;
}

footer .social-pplinks .pplinks a {
  margin-left: 20px;
}

.copyright {
  text-align: center;
}

.copyright p {
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
}

.copyright p span {
  color: #99a9ff;
}

@media screen and (max-width: 320px) {
  @-webkit-keyframes movedown {
    from {
      top: 80%;
    }
    to {
      top: 84%;
    }
  }
  @keyframes movedown {
    from {
      top: 80%;
    }
    to {
      top: 84%;
    }
  }
  header nav {
    padding: 10px !important;
  }
  .intro h1 {
    font-size: 2.3rem !important;
    width: 8em;
  }
  .intro h1 span {
    display: inline !important;
  }
  .intro img {
    width: 0.8rem !important;
  }
  .program {
    margin: 10% 0 20% 0;
  }
  .program .program-items {
    -ms-grid-rows: (0.1fr)[10];
        grid-template-rows: repeat(10, 0.1fr);
  }
  .program .program-items .program-img1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
  }
  .program .program-items .program-img2 {
    -ms-grid-column: 12;
    -ms-grid-column-span: -3;
    grid-column: 12 / 9;
    -ms-grid-row: 9;
    -ms-grid-row-span: -6;
    grid-row: 9 / 3;
  }
  .program .program-items .text-items {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
    -ms-grid-row: 10;
    grid-row: 10 / 10;
  }
  .program .program-items .text-items p {
    margin: 20px 0;
  }
}

@media screen and (max-width: 433px) {
  html {
    font-size: 12.5px;
  }
  .intro .intro-items h1 {
    margin: 0 0 -0.33rem 0 !important;
  }
  .title-subtitle .title-subtitle-items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  header nav {
    padding: 10px !important;
  }
}

@media screen and (max-width: 575px) {
  header {
    margin-top: 0;
  }
  .view-link .arrow-right {
    width: 1em;
  }
}

@media screen and (max-width: 624px) and (min-width: 321px) {
  header nav {
    background-color: #f00;
  }
}

@media screen and (max-width: 767px) and (min-width: 321px) {
  html {
    font-size: 15px;
  }
  @-webkit-keyframes movedown {
    from {
      top: 70%;
    }
    to {
      top: 74%;
    }
  }
  @keyframes movedown {
    from {
      top: 70%;
    }
    to {
      top: 74%;
    }
  }
}

@media screen and (max-width: 990px) {
  header .navbar {
    position: relative;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar.active {
    height: 40vh;
  }
  header .navbar .nav-left {
    top: 20%;
  }
  header .navbar .nav-left, header .navbar .nav-right {
    display: none;
  }
  header .navbar .nav-left.active, header .navbar .nav-right.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    /* top: 99%; */
    left: 42%;
  }
  header .navbar .nav-right {
    margin-right: 0em !important;
  }
  .view-link .arrow-right {
    width: 1em;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 991px) {
  header .nav-right {
    margin-right: -110px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1120px !important;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  html {
    font-size: 23px;
  }
  header .nav-right {
    margin-right: -229px !important;
  }
}

@media screen and (max-width: 1326px) and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
  header .nav-right {
    margin-right: -367px !important;
  }
  .intro .intro-items {
    margin-top: -1rem;
  }
}

/* End Mobile Screens */
/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger.

* Medium, which has the md class infix is 768px or larger.

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger.

* Extra extra large, which is infixed by xxl , is 1400px or larger.
*/
/*# sourceMappingURL=style.css.map */